.shopping-cart-container {
  display: flex;
  gap: 20px;
  padding: 40px;
  background-color: #fff;
}

.shopping-card, .card-total {
  flex: 1;
}


.shopping-cart {
  max-width: 900px;
  margin: 0 auto;
  border: 1px solid #e4e7e9ff;
  border-radius: 4px;
  background-color: #fff;
  height: 100%;
}

.cart-total-details{
  border-radius: 4px;
  background-color: #fff;
  box-shadow: 0 0 1px #e4e7e9;
  border: 1px solid #e4e7e9;
}

.cart-header {
  padding: 20px 24px;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 20px;
  font-weight: 400;
  color: #191c1fff;
  border-bottom: 1px solid #e4e7e9ff;
  h2{
    font-size: 20px !important;
  }
}

.cart-sub-header, .cart-item {
  display: flex;
  align-items: center;
  padding: 10px 24px;
}

.cart-sub-header {
  background-color: #f2f4f5ff;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 14px;
  text-transform: uppercase;
  color: #475156ff;
  gap: 10px;
  .sub-checkbox{
    margin-right: 0px;
  }

  .sub-product{
    margin-right: 172px;
  }

  .sub-cost{
    margin-right: 68px;
  }

  .sub-count{
    margin-right: 42px;
  }

  .sub-size{
    margin-right: 24px;
  }

  .sub-total{
    margin-right: 12px;
  }
}

.cart-item {
  gap: 12px;
  border-top: 1px solid #e4e7e9ff;

  .product{
    min-width: 152px;
  }
  .cost{
    min-width: 100px;
  }
  .size{
    min-width: 52px;
  }
  .total{
    min-width: 82px;
  }
  .delete-product{
    width: 24px;
    height: 24px;
    object-fit: none;
  }
}

.cart-item img {
  width: 71px;
  height: 63px;
  object-fit: none;
}

.quantity-control {
  display: flex;
  align-items: center;
  gap: 5px;
  margin-right: 24px;
  border: 1px solid #e4e7e9ff;
}

.quantity-control button {
  width: 24px;
    height: 24px;
    border: 1px solid #e4e7e9;
    background-color: #fff;
    border-radius: 3px;
    cursor: pointer;
    border: none;
    margin: 4px;
}

.cart-footer {
  display: flex;
  padding: 24px;
  border-top: 1px solid #e4e7e9ff;
}

.back-button {
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 12px 24px;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 16px;
  font-weight: 700;
  color: #ffac1bff;
  border: 2px solid #ffac1bff;
  border-radius: 2px;
  background-color: transparent;
  text-transform: uppercase;
  cursor: pointer;
}


.card-total {
  display: flex;
  flex-direction: column;
  margin-left: auto;

  .heading {
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 400;
    font-size: 20px;
    padding: 20px 24px;
    border-bottom: 1px solid #e4e7e9;
  }

  .total-info {
    margin-top: 20px;
  }

  .info-row {
    display: flex;
    justify-content: space-between;
    font-size: 16px;
    padding: 6px 24px;
    gap: 192px;
    .item-title{
      opacity: 0.9;
    }
    .item-val{
      font-weight: 800;
    }
  }

  .total-line {
    height: 1px;
    background-color: #e4e7e9;
    margin: 10px 0;
  }

  .total-row {
    font-weight: bold;
    font-size: 20px;
    padding: 0 24px;
  }

  .button-checkout{
    padding: 0 24px;
  }

  .button-checkout{
    .checkout-btn {
      background-color: #fa8232;
      color: #fff;
      border: none;
      padding: 10px 20px;
      cursor: pointer;
      margin-top: 20px;
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 10px;
      margin-bottom: 24px;
      font-size: 22px;
      width: 100%;
      &:hover {
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
      }
    }
  }

  .coupon-code {
    margin-top: 40px;
    border-radius: 4px;
    background-color: #fff;
    box-shadow: 0 0 1px #e4e7e9;
    border: 1px solid #e4e7e9;
    max-width: 430px;

    div{
      font-family: "Source Sans Pro", sans-serif;
      font-weight: 400;
      font-size: 20px;
      padding: 20px 24px;
      border-bottom: 1px solid #e4e7e9;
    }
    .coupon-code-content{
      padding: 0 24px;
      
      input{
        width: 100%;
        padding: 10px 24px;
        margin: 10px 0;
        border: 1px solid #e4e7e9;
      }

      button{
        background-color: #ffac1b;
        color: #fff;
        border: none;
        padding: 10px 20px;
        cursor: pointer;
        margin-bottom: 24px;
        &:hover {
          box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); // Thêm đổ bóng khi hover
        }
      }
    }
  }
}


input[type="checkbox"].checkbox {
  width: 20px;
  height: 20px;
  cursor: pointer;
  appearance: none;
  border: 2px solid #ccc;
  border-radius: 4px;
  position: relative;
}

input[type="checkbox"].checkbox:checked {
  background-color: #FA8232;
  border-color: #FA8232;
}

input[type="checkbox"].checkbox:checked::after {
  content: "✔";
  color: white;
  font-size: 16px;
  position: absolute;
  top: -2px;
  left: 2px;
}