PORT=8000

DEPLOY_SERVICE_LINK=https://5ed5-171-238-154-228.ngrok-free.app

# CONNECT DATABASE 
DB_HOST='localhost'
DB_PORT=3306
DB_USERNAME='root'
DB_PASSWORD=''
DB_NAME='vietnamese_food_restaurant'
DB_URL=''

# CONNECT DATABASE 
# DB_HOST='bjadxephj3unaibvmzro-mysql.services.clever-cloud.com'
# DB_PORT=3306
# DB_USERNAME='uwxjbky2aluatwli'
# DB_PASSWORD='jphzC5dxzM8lvHk5HAeN'
# DB_NAME='bjadxephj3unaibvmzro'

ZALOPAY_APP_ID=2554
ZALOPAY_KEY1=sdngKKJmqEMzvh5QQcdD2A9XBSKUNaYn
ZALOPAY_KEY2=trMrHtvjo6myautxDUiAcYsVtaeQ8nhf
ZALOPAY_ENDPOINT_CREATE=https://sb-openapi.zalopay.vn/v2/create
ZALOPAY_ENDPOINT_QUERY=https://sb-openapi.zalopay.vn/v2/query
ZALOPAY_REDIRC_URL=https://github.com/

JWT_SECRET=test-jwt-secret-123

MOMO_ACCESS_KEY=F8BBA842ECF85
MOMO_SECRET_KEY=K951B6PE1waDMi640xX08PD3vg6EkVlz
MOMO_REDIRC_URL=https://github.com/
MOMO_ENDPOINT_CREATE=https://test-payment.momo.vn/v2/gateway/api/create
MOMO_ENDPOINT_QUERY=https://test-payment.momo.vn/v2/gateway/api/query
MOMO_NGROK_LINK=https://438c-2405-4802-69ad-2fe0-b1ce-7190-de9d-8222.ngrok-free.app

MAIL_PORT=587
MAIL_HOST=sandbox.smtp.mailtrap.io
MAIL_USER=744841c77d1a6a
MAIL_PASSWORD=d514c8794eb263
