.wishlist {
  margin: 30px 0;
  .wishlist-container {
    margin-left: 20px;
    width: 60%;
    .ant-table-content {
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3); /* Đổ bóng */
      transition: box-shadow 0.3s ease;
      border-radius: 8px;
    }
    .wishlist-item-image {
      width: 60px;
      height: 60px;
      margin-right: 10px;
      border-radius: 4px;
    }
    .wishlist-item-text {
      font-weight: 600;
      color: #223263;
    }
    .wishlist-item-status {
      font-weight: 600;
      color: #2db224;
      &.out-of-stock {
        color: #eb3a3a;
      }
      &.not-today {
        color: #2472b2;
      }
      &.comming-soon {
        color: #fb7932;
      }
    }
  }
}
.add-cart-btn {
  background-color: #fa8232;
  color: #ffffff;
  border: none;
  padding: 8px 16px;
  font-size: 14px;
  margin-right: 12px;
  border-radius: 3px;
  cursor: pointer;
  p {
    line-height: 18px;
    margin-right: 12px;
  }
  .sidebar-icon {
    color: #ffffff;
    font-size: 20px;
  }
  &.unactived {
    background-color: rgba(128, 128, 128, 0.3);
  }
}

.remove-btn {
  font-size: 20px;
  cursor: pointer;
}
