@import '../../../constants/colors.scss';

.admin-account-container {
  width: 100%;
  min-height: 90vh;
  padding: 10px;
}

.admin-account-button-create-account {
  background-color: $food-price-color !important;
  color: $white-color !important;
  border: 1px solid $food-price-color !important;
  margin-left: 10px;
}

.admin-account-button-create-account:hover {
  color: $food-price-color !important;
  background-color: $white-color !important;
}

.admin-account-title {
  font-weight: bold;
}

.admin-account-search-input {
  width: 300px;
}

.admin-account-header-container {
  margin: 10px 0px;
}

.admin-account-table-center-item {
  width: 100%;
  display: flex;
  justify-content: center;
}
