@import '../../../constants/colors.scss';

.admin-order-container {
  width: 100%;
  padding: 10px;
}

.admin-order-table-item-status {
  text-align: center;
  width: 100%;
}

.admin-order-title {
  font-weight: bold;
  color: $admin-dashboard-dark-green;
}

.admin-order-table-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: end;
}

.admin-order-table-item-status-select-container {
  width: 100%;
  text-align: center;
  font-size: 15px;
  .ant-select-selection-item {
    font-weight: bold;
  }
}

.admin-order-filter-item {
  margin: 0px 10px;
}

.admin-order-filter-container {
  margin: 10px 0px;
}

.admin-order-filter-button-reset {
  color: $admin-order-dark-red !important;
}

.admin-order-filter-button-reset:hover {
  border-color: $admin-order-dark-red !important;
}
