@import "../../constants/colors.scss";

.container-info {
  width: 50%;
  border: solid 2px $food-info-container-border-color;
  border-radius: 20px;
  background-color: $food-info-container-background-color;
  padding: 12px 24px;
  .info-name {
    color: $food-name-color;
    font-size: 24px;
    font-weight: 600;
  }
  .info-price {
    color: $food-price-color;
    font-weight: 600;
    font-size: 16px;
  }
  .info-quantity {
    width: 10%;
    min-width: 80px;
    padding: 10px;
    text-align: center;
    font-weight: 600;
    font-size: 18px;
    margin: 0 14px 0;
    border-radius: 12px;
    border: solid 1px #000;
  }
  .info-rcm-title {
    font-size: 24px;
    font-weight: 600;
    color: $text-color__black;
  }
}
/* Chrome, Safari, Edge, Opera */
.no-spinners::-webkit-outer-spin-button,
.no-spinners::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Ẩn các nút tăng giảm trên Firefox cho thẻ có class no-spinners */
.no-spinners {
  -moz-appearance: textfield;
}

.food-carousel-detail {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
  position: relative;
}

.food-carousel-detail button {
  background-color: transparent;
  border: none;
  font-size: 24px;
  cursor: pointer;
  margin: 0 -40px;
  z-index: 1;
}

.food-carousel-detail .items-container-detail {
  display: flex;
  overflow: hidden; /* Ẩn phần hình ảnh ngoài vùng nhìn thấy */
  margin: 0 8px;
  position: relative; /* Đặt vị trí tương đối để có thể sử dụng transform */
}

.food-carousel-detail .food-item-detail {
  display: flex;
  flex-direction: column;
  margin: 0 6px;
  transition: transform 0.5s ease; /* Thêm hiệu ứng chuyển động */
}

.food-carousel-detail .food-item-detail img {
    border-radius: 14px;
    min-width: -53px;
    max-width: 77px;
    min-height: 95px;
    cursor: pointer;
    object-fit: cover;
}

.food-carousel-wish {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
  button {
    background-color: transparent;
    border: none;
    font-size: 24px;
    cursor: pointer;
    margin: 0 -40px;
  }

  .items-container-wish {
    display: flex;
    overflow: hidden; // Ẩn phần hình ảnh ngoài vùng nhìn thấy
  }

  .left-arrow-btn{
    position: absolute;
    top: 100%;
    height: 100px;
  }
  .food-item-wish {
    display: flex;
    flex-direction: column;
    margin: 0 10px; // Khoảng cách giữa các món ăn
    img {
      border-radius: 14px;
      width: 100%;
      min-height: 140px;
      object-fit: cover;
    }
    h5 {
      margin: 5px 0;
      color: $text-color__black;
      font-size: 20px;
      font-weight: 600;
    }

    p {
      font-size: 14px;
      color: $text-color__gray;
    }
}

}

.food-images {
  width: 30%;
  margin-right: 30px;
  .food-image {
    border: 2px dashed #8A8585;
    background-color: $background-color__gray;
    border-radius: 16px;
    margin-bottom: 30px;
  }
  .food-image-view {
    background-color: $background-color__gray;
    padding: 8px 20px;
    border-radius: 20px;
  }
}

.height-100{
  height: 100px;
}
