@import '../../../../../constants/colors.scss';

.admin-dashboard-box-header {
  &-container {
    background-color: $white-color;
    padding: 15px;
    width: 90%;
    display: flex;
    align-items: center;
    border-radius: 10px;
  }
  &-content-container {
    width: 80%;
  }
  &-icon-container {
    width: 20%;
    aspect-ratio: 1 / 1; // Đảm bảo hình vuông
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    font-size: 28px;
  }
  &-number {
    font-weight: bold;
  }
  &-name {
    font-weight: bold;
  }
}
