.product-card {
    position: relative;
  background-color: #fff;
  border-radius: 4px;
  text-align: center;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.3s ease; 
    &:hover .icon-wrapper{
        background-color: #e85a0d; 
        transform: scale(1.05); 
    }
  .label {
    position: absolute;
    top: 5px;
    left: 0px;
    display: flex;
    align-items: center;
    z-index: 100;
    .label-background {
      width: 81px;
      height: 35px;
    }

    span {
      position: absolute;
      font-size: 18px;
      color: #fff;
      line-height: 22px;
      padding-left: 10px;
    }
  }

  .product-image {
    width: 100%;
    height: auto;
    display: block;
    height: 300px;
    object-fit: cover;
  }

  .product-details {
    padding: 10px;
    background-color: white;
    color: #333;

    .rate {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      .product-name {
        font-size: 18px;
        font-weight: 700;
        color: #223263;
        margin-bottom: 5px;
      }
      .rating{
        margin-top: 22px;
      }
      .custom-star {
        font-size: 24px;
        display: inline-block;
        position: relative;
      }

      .full {
        color: gold;
      }

      .empty {
        color: lightgray;
      }

      .partial {
        position: relative;
      }

      .partial-star {
        position: absolute;
        top: 0;
        left: 0;
        color: gold; /* Màu cho phần đã chọn */
        overflow: hidden;
      }

      .empty-star {
        color: lightgray; /* Màu cho phần chưa chọn */
      }
    }

    

    .price {
      display: flex;
      justify-content: space-between;
      .current-price {
        font-size: 18px;
        font-weight: 700;
        color: #bb8d4f;
      }

      .original-price {
        display: flex;
        gap: 5px;
        align-items: center;

        .strikethrough {
          font-size: 18px;
          color: #9098b1;
          text-decoration: line-through;
        }

        .discount {
          font-size: 14px;
          font-weight: 700;
          color: #f17228;
        }
      }
    }
  }

  .actions {
  position: absolute;
  top: 10px;
  right: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;

   
  
  .icon-wrapper {
    width: 36px;
    height: 36px;
    border-radius: 50%;
    background-color: #f17228; // Use your desired background color
    display: flex;
    justify-content: center;
    align-items: center;

    transition: background-color 0.3s ease, transform 0.3s ease; 
    &:hover {
        background-color: #e85a0d; 
        transform: scale(1.05); 
    }
    
    img {
      width: 16px; // Adjust image size as needed
      height: 16px;
      cursor: pointer;
    }
  }
}
}