.history-container {
  border: 1px solid #e4e7e9;
  .history-title {
    margin-bottom: 0;
    font-size: 16px;
    padding: 16px;
    font-weight: 550;
    color: #000000;
  }
  .history-table {
    .ant-table {
      .ant-table-thead th,
      .ant-table-tbody td {
        border-radius: 0 !important;
      }

      .ant-table-thead th {
        background-color: #f2f4f5;
        color: #475156;
      }
    }
  }
}
