/* Style cho thanh tiến trình */
.status-bar {
  display: flex;
  align-items: center;
  position: relative;
  width: 100%;
  height: 10px;
  background-color: #fad1b6b7;
  border-radius: 5px;
  margin-top: 20px;
}

/* Thanh tiến trình */
.status-progress {
  margin-left: 4px;
  height: 100%;
  width: 0%;
  background-color: #FA8232; /* Màu xanh cho tiến trình */
  border-radius: 5px;
  transition: width 0.3s ease-in-out;
}

.status-item {
  display: flex;
  flex-direction: column; /* Đặt hướng cột để tiêu đề nằm bên dưới */
  align-items: center;
  position: absolute;
  top: -8px;
  height: 24px;
  width: 24px;
  border-radius: 50%;
  border: 2px solid #FA8232;
  background-color: #fff; /* Màu mặc định cho các trạng thái chưa đến */
  transition: background-color 0.3s;
  .status-item-title {
    margin-top: 30px;
    white-space: nowrap;
    text-align: center;
    width: auto;
    font-size: 16px;
    opacity: 0.5;
  }
  &.active {
    background-color: #FA8232;
    .status-item-title {
      opacity: 1;
    }
  }
  &.cancel {
    background-color: #FA8232;
  }
  .status-item-title {
    margin-top: 30px;
    white-space: nowrap;
    text-align: center;
    width: auto;
    font-size: 16px;
  }
}

.status-item:nth-child(1) { left: 0%; }
.status-item:nth-child(2) { left: 25%; }
.status-item:nth-child(3) { left: 50%; }
.status-item:nth-child(4) { left: 75%; }
.status-item:nth-child(5) { left: 99%; }
