$background-overlay-color__orange: (241, 114, 40, 0.5);
$white-color: #FFFFFF;
//login var
$text-color__black: #191C1F;
$text-color__gray: #77878F;
$form-data-background-color: #f6fafc;

//food
$food-info-container-border-color: #FF642F;
$food-name-color: #1B3764;
$food-info-container-background-color: #EEF1F4;
$food-price-color: #FF642F;
$background-color__gray: #EEEEEE;
