/* CheckoutPage.css */

.checkout-page {
  padding: 72px 72px;
}

.section-title {
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 400;
  font-size: 24px;
  color: #191c1f;
  margin-bottom: 16px;
}

.checkout-info,
.order-summary {
  background-color: #fff;
  padding: 24px;
  border: 1px solid #e4e7e9;
  border-radius: 4px;
  height: 100%;
  display: block;
}

.form{
    background-color: #ffffff;
    display: flex;
    gap: 24px;
    width: 100%;
}

.form-group {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.input-pair {
  display: flex;
  gap: 16px;
  align-items: end;
}

.input-field {
  display: flex;
  flex-direction: column;
  gap: 8px;
  width: 100%;
  min-height: 86px;
  max-height: 86px;
}

.input-field input,
.input-field select {
  width: 100%;
  height: 44px;
  padding: 8px;
  border: 1px solid #e4e7e9;
  border-radius: 2px;
}

.input-field.full-width input,
.input-field.full-width textarea {
  width: 100%;
}

.payment-options{
  margin-top: 32px;
  border: 1px solid #e4e7e9;
  .section-title{
    font-family: "Source Sans Pro", sans-serif;
    font-weight: 400;
    font-size: 24px;
    color: #191c1f;
    padding: 12px 6px;
    border-bottom: 1px solid #e4e7e9;
  }

  .payment-methods {
    display: flex;
    gap: 24px;
    justify-content: center;
    align-items: baseline;
    padding-left: 12px;
    padding-right: 12px;
  }

  .payment-method {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 8px;
    padding: 10px 18px;
    span{
      min-height: 52px;
    }

    img{
      width: 52px;
      height: 52px;
      object-fit: none;
    }
    input[type="radio"] {
      appearance: none;
      -webkit-appearance: none;
      -moz-appearance: none;
      width: 20px;
      height: 20px;
      border-radius: 50%;
      border: 2px solid gray;
      outline: none;
      cursor: pointer;
      position: relative;
    }

    /* Tùy chỉnh màu sắc của radio button */
    input[type="radio"]::before {
      content: '';
      display: block;
      width: 60%;
      height: 60%;
      border-radius: 50%;
      background-color: transparent;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      transition: background-color 0.2s;
    }

    /* Thay đổi màu khi radio button được chọn */
    input[type="radio"]:checked {
      border-color: #f58d00; /* Đổi màu viền */
    }

    input[type="radio"]:checked::before {
      background-color: #f58d00; /* Đổi màu khi chọn */
    }
  }
}

.additional-info {
  margin-top: 56px;
  min-height: 246px;

  .custom-textarea {
  width: 100%;
  padding: 15px;
  box-sizing: border-box;
  border: 1px solid #e4e7e9;
  font-size: 16px;
  line-height: 1.5;
  resize: none;
  overflow-y: auto;
  border-radius: 4px;
  min-height: 170px;
}
}


.order-items {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.item {
  display: flex;
  gap: 16px;

  img{
    width: 72px;
    height: 72px;
    object-fit: none;
  }
}

.item-details {
  display: flex;
  flex-direction: column;
  gap: 4px;
  margin-top: 8px;
  
  .product-name{
    font-weight: 600;
  }

  .product-order{
    .cost{
      color: #2DA5F3;
    }
  }
}

.total {
  display: flex;
  flex-direction: column;
  gap: 4px;
  margin-bottom: 16px;
  margin-top: 16px;
  .total-items, .grand-total{
    display: flex;
    justify-content: space-between;
    gap: 132px;
  }
  .total-items{
    .item-des{
      opacity: 0.9;
      font-size: 15px;
    }
    .item-val{
      font-weight: 600;
      font-size: 15px;
    }
  }
  .grand-total{
    .item-des{
      font-weight: 700;
      font-size: 20px;
    }
    .item-val{
      font-weight: 900;
      font-size: 20px;
    }
  }
}


.checkout-button {
  background-color: #fa8232;
  color: #ffffff;
  padding: 16px 32px;
  border: none;
  border-radius: 3px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  cursor: pointer;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 700;
  font-size: 20px;
  letter-spacing: 0.24px;
  width: 100%;

  transition: background-color 0.3s ease, transform 0.3s ease; 
  &:hover {
    background-color: #e85a0d; 
    transform: scale(1.05); 
  }
  input{
    color: white;
    background-color: transparent;
    border: none;
  }
}

.vertical-line {
  width: 1px;             
  height: 50px;         
  background-color: black;
  border: none;          
  transform: rotate(180deg); 
  margin: 0;              
}
