.form-input-container{
  p {
    font-size: 18px;
    font-weight: 600;
  }
  input{
    border-radius: 8px;
    border: 1px solid;
    margin-top: 5px;
    margin-bottom: 10px;
    height: 30px;
    padding: 10px
  }
}
