.item-profile {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  background-color: #fff;
}

.main-content {
  display: flex;
  flex-direction: column;
  padding: 20px;
  width: 100%;
}


.header{
  display: inline-flex;
  border-bottom: 1px solid #ccc;
  align-items: center;
  justify-items: center;
  width: 100%;
  .icon-left-back{
    margin-bottom: 6px;
    margin-right: 12px;
  }
    h1 {
    font-size: 38px;
    color: #000000;
  }
}
.icon-left-back {
  cursor: pointer;
  transition: transform 0.2s ease;
}

.icon-left-back:hover {
  transform: scale(1.1);
  color: #fa8232; /* Thay đổi màu nếu cần */
}

.profile-picture-title {
  display: flex;
  gap: 20px;
  padding: 20px;
  background-color: #fff;


  .image-upload-container {
  position: relative;
  display: inline-block;
  width: 200px; /* Set the size of the image */
  height: 200px;
  cursor: pointer;
}
.upload-wrapper {
  display: block;
  position: relative;
  width: 100%;
  height: 100%;
  cursor: pointer;
}
.profile-picture {
    width: 210px;
    height: 210px;
    border-radius: 50%;
    object-fit: cover;
    border: 2px solid #dbdbdb;
    margin-right: 62px;
  transition: opacity 0.3s ease;
}

.image-upload-container:hover .profile-picture {
  opacity: 0.7; /* Make the image darker on hover */
}

.upload-icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: none; /* Initially hidden */
  pointer-events: none; /* Prevent interaction */
}

.image-upload-container:hover .upload-icon {
  display: block; /* Show the icon on hover */
}

.image-input {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0; /* Invisible but still functional */
  cursor: pointer;
}


  .item-details-infor {
    flex: 1;
      .item-name {
        flex: 1;
        margin-bottom: 8px;
        label {
          display: block;
          font-weight: bold;
          margin-bottom: 8px;
        }
        input {
          width: 100%;
          padding: 10px;
          border: 1px solid #ccc;
          border-radius: 5px;
          font-size: 14px;
        }
      }
    .txt-description {
      margin-bottom: 20px;

      label {
        display: block;
        font-weight: bold;
        margin-bottom: 8px;
      }

      textarea {
        width: 100%;
        min-height: 80px;
        padding: 10px;
        border: 1px solid #ccc;
        border-radius: 5px;
        font-size: 14px;
        resize: none;
      }
    }

    .item-details-others {
      display: flex;
      gap: 20px;

      .item-category,
      .item-regional {
        flex: 1;

        label {
          display: block;
          font-weight: bold;
          margin-bottom: 8px;
        }

        select,
        input {
          width: 100%;
          padding: 10px;
          border: 1px solid #ccc;
          border-radius: 5px;
          font-size: 14px;
        }
      }
    }
  }
  .list-image-upload{
    margin-top: 12px;
    label {
          display: block;
          font-weight: bold;
          margin-bottom: 8px;
        }
    .list-image{
      display: flex;
      align-items: center;
      gap: 8px;
      margin-top: 12px;
      img{
        border-radius: 8px;
        min-height: 170px;
        min-width: 150px;
        max-height: 180px;
        object-fit: cover;
        max-width: 150px;
        border: solid 1px #ccc;
      }
    }
  }
  
  .delete-items{
    display: flex;
    align-items: center;
    flex-direction: column;
    .btn-delete{
      border: none;
      background-color: #FF2A00;
      color: #fff;
      border-radius: 3px;
      padding: 9px 38px;

      &:hover{
        background-color: #FF0000;
    }
  }
}
}
.item-details {
  margin: 20px 0;

  .item-details-label {
    margin-bottom: 20px;

    h2 {
      font-size: 24px;
      font-weight: bold;
      color: #d16a2c;
    }
  }

  .item-info {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;

    .item-carbo,
    .item-protein,
    .item-sodium,
    .item-calory,
    .item-fat,
    .item-fiber,
    .item-cholesterol,
    .item-ingredients {
      display: flex;
      flex-direction: column;

      label {
        font-size: 14px;
        font-weight: bold;
        margin-bottom: 8px;
        color: #333;
      }

      input {
        padding: 10px;
        border: 1px solid #ccc;
        border-radius: 5px;
        font-size: 14px;
      }
    }
    .item-cholesterol{
      grid-column: span 3;
      input {
        width: 100%;
      }
    }
    .item-ingredients {
      grid-column: span 3;

      input {
        width: 100%;
      }
    }
  }
}

.size-table {
  margin: 20px 0;
}

.size-table h2 {
  font-size: 24px;
  font-weight: bold;
  color: #d16a2c;
  margin-bottom: 20px;
}

.size-table table {
  width: 50%;
  border-collapse: collapse;
  margin-bottom: 20px;
}

.size-table th,
.size-table td {
  text-align: left;
  padding: 10px;
  border-bottom: 1px solid #ddd;
}

.size-table .type{
  border-left: 1px solid #ccc;
}

.size-table .delete{
  border-right: 1px solid #ccc;
}

.size-table input,
.size-table select {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 5px;
}


.add-size {
  background-color: #ffd700;
  color: #000;
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
}

.add-size:hover {
  background-color: #f0c400;
}

.delete-size {
  background-color: #ff4d4f;
  color: white;
  border: none;
  padding: 8px 12px;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
}

.delete-size:hover {
  background-color: #d9363e;
}

/* Định nghĩa màu sắc cho từng trạng thái */
.select-in_stock {
  background-color: #d4edda; /* Màu xanh nhạt */
  color: #155724; /* Màu xanh đậm */
}

.select-out_of_stock {
  background-color: #f8d7da; /* Màu đỏ nhạt */
  color: #721c24; /* Màu đỏ đậm */
}

.select-comming_soon {
  background-color: #fff3cd; /* Màu vàng nhạt */
  color: #856404; /* Màu vàng đậm */
}

.select-not_today {
  background-color: #d1ecf1; /* Màu xanh lam nhạt */
  color: #0c5460; /* Màu xanh lam đậm */
}

/* Định dạng chung cho select */
.select-type {
  border: 1px solid #ccc;
  padding: 8px;
  border-radius: 4px;
  font-size: 16px;
  outline: none;
  margin-top: 12px;
}


.save-button-section {
  margin-top: 20px;
  text-align: right;
}

.save-button {
  background-color: #102c57;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}

.description-section {
  margin-top: 20px;
  min-width: 50%;
}

.introduction h2 {
  font-size: 18px;
  color: #1e293b;
    margin-bottom: 10px;
}
.service-info{
  margin-top: 12px;
}

.service-info label {
  font-size: 18px;
  margin-bottom: 8px;
  color: #1e293b;
    margin-bottom: 10px;
}

.quill {
    margin-top: 12px;
}
.ql-container.ql-snow {
    border: 1px solid #ccc;
    border-radius: 8px;
}
.ql-editor ul {
    padding-left: 1.5em;
    color: #333;
    font-family: Arial, sans-serif;
    font-size: 16px;
}
.introduction{
    textarea{
        width: 100%;
        background-color: transparent;
        border: solid 1.5px #989898;
        border-radius: 12px;
        padding: 0 12px;
    }
}

.services ul {
  list-style-type: none;
padding-left: 13px;
}

.services ul li {
  margin-top: 10px;
  display: flex;
  align-items: center;
}

.services ul li::before {
  content: "•";
  color: #e88080;
  font-size: 20px;
  margin-right: 10px;
}


