@import '../../constants/colors.scss';

.btn-primary {
  min-width: 100px;
  padding: 10px;
  background-color: #ffffff;
  color: #000000;
  border: solid 1px #fa8232;
  border-radius: 12px;
  font-weight: 550;
  margin-right: 20px;
  &.actived {
    background-color: #fa8232;
    color: #ffffff;
  }
  &.actived:hover {
    background-color: #e85a0d;
    transform: translateY(-2px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }
  &.disabled {
    background-color: #deb7aa;
    border: solid 1px #deb7aa;
  }
}
