
html, body {
    font-size: 16px;
}

.frame-wrapper{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.frame-body {
    width: 100%;

        /* header section */
    .header-section {
        display: flex;
        justify-content: space-around;
        background: #FFCA0B;
        background-size: cover;
        height: 100%;
        width: 100%;
        padding-top: 7.6%;
    }

    .header-content {
        max-width: 38%;
        padding-left: 3%;
        .content{
            margin-bottom: 15%;
        }
    }

    .header-content h1 {
        font-size: 60px;
        font-weight: 700;
        line-height: 100%;
        color: #ffffff;
    }

    .header-content p {
        font-size: 15px;
        font-weight: 400;
        line-height: 120%;
        color: #504f4fff;
        margin-top: 15px;
    }

    .header-image img {
        width: 450px;
        height: 450px;
        border-radius: 50%;
        box-shadow: -15px 22px 40px rgb(68 68 68 / 50%);
    }

    .show-shop{
        display: inline-block;
        color: #ffffff;
        font-size: 24px;
        font-weight: bold;
        padding: 10px 20px;
        text-decoration: none;
        position: relative;
        padding-left: 0;
        transition: background-color 0.3s ease, transform 0.3s ease;

    &::after{
        content: '';
        position: absolute;
        left: 0;
        bottom: 0;
        width: 100%;
        height: 4px;
        background-color: #ffffff;
    }
    &:hover{
        color: rgba(255,138,0,1);
    }
    &:hover::after{
        background-color: rgba(255,138,0,1);
    }
    }

    .container-work {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding-top: 80px;
        padding-bottom: 80px;
        background: linear-gradient(180deg, rgba(255, 206, 103, 0.22) 42.47%, rgba(253, 237, 202, 0) 100%);
    }

    .title-work {
        font-family: 'Source Sans Pro', sans-serif;
        font-weight: 700;
        font-size: 38px;
        line-height: 112%;
        text-align: center;
        color: #f17228;
        margin-bottom: 32px;
    }

    .features-work {
        display: flex;
        gap: 71px;
        margin-top: 20px;
    }

    .feature-work {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 10px;
        text-align: center;

        img{
            width: 122px;
            height: 122px;
        }
    }

    .feature-title-work {
        font-family: 'Source Sans Pro', sans-serif;
        font-weight: 700;
        font-size: 22px;
        line-height: 120%;
        color: #434343;
    }

    // Popular Items
    .popular-items-container {
        background-color: #fff;
        padding: 20px;
    }

    .popular-title {
        font-family: 'Source Sans Pro', sans-serif;
        font-weight: 700;
        font-size: 38px;
        color: #212121;
        text-align: center;
        margin-bottom: 64px;
    }

    .slider-container {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 16px;
        margin-bottom: 52px;
    }

    .slider-button {
        background-color: #ffb20e;
        border: none;
        height: 56px;
        width: 56px;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        color: #fff;
        font-size: 24px;
        cursor: pointer;

        svg{
            width: 52px;
            height: 42px;
        }
    }
    .card-container-wrapper {
        overflow: hidden;
        width: 90%;
        transition: transform 2s ease;
        scroll-behavior: smooth;
    }
    .card-container {
        display: flex;
        height: 376px;
    }

    .card {
        background-color: #fff;
        border-radius: 8px;
        display: flex;
        flex-direction: column;
        width: 280px;
        border: none;
        padding: 0 16px;
        min-width: 239px;
    }

    .card-image {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 8px 8px 0 0;
        transition: transform 0.3s ease;
    }

    .card:hover .card-image {
        transform: scale(1.05);
    }

    .card-details {
        padding: 10px 0px;
    }

    .card-name {
        font-family: 'Source Sans Pro', sans-serif;
        font-weight: 700;
        font-size: 18px;
        color: #424242;
        margin-bottom: 8px;
    }

    .card-category {
        display: flex;
        align-items: center;
        color: #ffb30e;
        svg{
            margin-right: 5px;
        }
    }

    .card-price {
        font-family: 'Source Sans Pro', sans-serif;
        font-weight: 700;
        font-size: 22px;
        color: #212121;

    }

    .order-now-button {
        background-color: #f17228;
        color: #fff;
        font-family: 'Source Sans Pro', sans-serif;
        font-weight: 700;
        border: none;
        border-radius: 8px;
        padding: 10px 20px;
        font-size: 18px;
        cursor: pointer;
        transition: background-color 0.3s ease, transform 0.3s ease;
         &:hover {
            background-color: #e85a0d;
            transform: scale(1.05);
        }
    }

    .search-by-food-container {
        background-color: #fefaf1;
        padding: 40px 92px;
        overflow: hidden;

        .search-by-food-title-buttons {
            display: flex;
            justify-content: space-between;
            align-items: center;

            .search-by-food-search-title {
                font-family: 'Source Sans Pro', sans-serif;
                font-weight: 700;
                font-size: 38px;
                color: #212121;
            }

            .search-by-food-buttons {
                display: flex;
                align-items: center;
                gap: 16px;
            }

            .search-by-food-view-all-button {
                font-family: 'Source Sans Pro', sans-serif;
                font-weight: 700;
                font-size: 18px;
                color: #ffb30e;
                background: none;
                border: none;
                cursor: pointer;
                display: flex;
                align-items: center;
                transition: all 0.3s ease;
                &:hover {
                    transform: translateY(-3px);
                }
                .view-all-button:hover::after {
                    transform: scaleX(1);
                    transform-origin: bottom left;
                }
            }

            .search-by-food-slider-buttons {
                display: flex;
                gap: 16px;
            }

            .search-by-food-slider-button {
                background-color: #ffb30e;
                border: none;
                height: 50px;
                width: 50px;
                border-radius: 50%;
                display: flex;
                align-items: center;
                justify-content: center;
                color: #fff;
                font-size: 16px;
                cursor: pointer;
                svg{
                    width: 32px;
                    height: 32px;
                }
            }
        }
    }


    .food-items-wrapper {
        overflow: hidden;
        position: relative;
    }
    .food-items {
        display: flex;
        padding: 0 32px;
        margin-top: 40px;
        transition: transform 0.5s ease-in-out;
    }

    .food-item {
        min-width: 196px;
        display: flex;
        flex-direction: column;
        align-items: center;
        transition: transform 0.3s ease;
        cursor: pointer;
    }

    .food-item:hover .food-photo {
        transform: scale(1.05);
    }
    .food-item:hover .food-name {
        color: #f17228;
    }

    .food-photo {
        width: 168px;
        height: 168px;
        border-radius: 50%;
        object-fit: cover;
    }

    .food-name {
        font-family: 'Source Sans Pro', sans-serif;
        font-weight: 700;
        font-size: 18px;
        color: #424242;
        margin-top: 30px;
        text-align: center;
    }

    .features-container {
        background-color: #feefd0;
        padding: 96px 0 80px;
        display: flex;
        justify-content: center;
    }

    .features-card {
        background-color: #ffffff;
        border-radius: 46px;
        display: flex;
        padding: 42px;
        gap: 16px;
        align-items: center;
        box-shadow: 0 4px 16px rgba(0, 0, 0, 0.1);
    }

    .feature {
        display: flex;
        align-items: center;
        gap: 30px;
    }

    .feature-icon {
        width: 90px;
        height: 90px;
    }

    .feature-text {
        font-family: 'Source Sans Pro', sans-serif;
        font-weight: 700;
        font-size: 24px;
        width: 47%;
        margin-right: -54px;
        background: linear-gradient(92.84deg, rgba(251, 60, 0, 1) 47.72%, rgba(255, 184, 0, 1) 136.82%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }

    .divider {
        width: 2px;
        height: 96px;
        background-color: #e0e0e0;
    }

    .system-show-container {
        display: flex;
        align-items: center;
        justify-content: center;
        background: linear-gradient(261.24deg, rgba(255, 174, 0, 1) 63.85%, rgba(255, 138, 0, 1) 111.94%);
        padding: 0px 60px 120px 60px;
        .background{
            width: 100%;
            height: 86%;
            position: absolute;
        }
        .image-section {
            display: flex;
            justify-content: center;
            gap: 20px;
            z-index: 10;
            padding-top: 62px;
            padding-left: 70px;
            margin-bottom: -120px;
        }

        .phone-image {
            width: 440px;
            height: 540px;
            object-fit: cover;
            border-radius: 20px 20px 0 0; /* Bo góc trên */
            box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1), /* Bóng mờ phía dưới */
                        0 20px 30px rgba(0, 0, 0, 0.05); /* Bóng nhẹ phía dưới */
        }

        .text-section {
            max-width: 600px;
            color: #fff;
            margin-left: 56px;
            margin-right: 56px;

            z-index: 10;
        }

        .title {
            font-family: 'Source Sans Pro', sans-serif;
            font-weight: 700;
            font-size: 44px;
            line-height: 106%;
            background: linear-gradient(92.84deg, rgba(255, 184, 0, 1) 47.72%, rgba(255, 138, 0, 1) 136.81%);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            margin-bottom: 16px;
        }

        .body-text {
            font-family: 'Open Sans', sans-serif;
            font-size: 18px;
            line-height: 140%;
            color: #827e7e;
            margin-bottom: 48px;
        }

        .button-group {
            display: flex;
            gap: 16px;
        }

        .detect-button, .suggest-button {
            background-color: #F17228;
            color: #ffffff;
            font-family: 'Poppins', sans-serif;
            font-weight: 600;
            font-size: 17px;
            padding: 10px 12px;
            border: none;
            border-radius: 7px;
            display: flex;
            align-items: center;
            gap: 10px;
            cursor: pointer;
            transition: background-color 0.3s ease, transform 0.3s ease;

            &:hover {
                background-color: #e85a0d;
                transform: scale(1.05);
            }
        }

        .detect-button .button-icon, .suggest-button .button-icon {
            width: 36px;
        }

    }

    .details-container {
        display: flex;
        flex-direction: column;
        gap: 80px;
        padding: 141px 146px 86px 146px;
    }

    .details-card {
        display: flex;
        background-color: #fff;
        border-radius: 16px;
        overflow: hidden;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);

        &.reverse {
            flex-direction: row;
        }
    }

    .card-left, .card-right {
        padding: 25px 32px 32px 32px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .text-content {
        margin-bottom: 20px;
    }

    .card-title {
        font-family: 'Source Sans Pro', sans-serif;
        font-weight: 700;
        font-size: 32px;
        color: #353535;
        margin-bottom: 19px;
    }

    .card-body {
        font-family: 'Open Sans', sans-serif;
        font-weight: 400;
        font-size: 14px;
        line-height: 140%;
        color: #616161;
    }

    .order-button {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 10px;
        background: linear-gradient(92.84deg, rgba(255, 184, 0, 1) 47.72%, rgba(255, 138, 0, 1) 136.81%);
        color: #fff;
        font-family: 'Source Sans Pro', sans-serif;
        font-weight: 700;
        font-size: 18px;
        padding: 16px 28px;
        border: none;
        border-radius: 8px;
        cursor: pointer;
        margin-top: auto;
        transition: background-color 0.3s ease, transform 0.3s ease;

        &:hover {
            background-color: #e85a0d;
            transform: scale(1.05);
        }
    }

    .card-image-show {
        width: 52%;
        height: 349px;
        object-fit: cover;
    }

}
